<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nytt Projekt</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h2>Tack för din feedback!</h2>

    <nav style="margin-bottom: 2rem;">
        <a th:href="@{/}"><strong>Lägg till projekt</strong></a> |
        <a th:href="@{/search}"><strong>Sök</strong></a> |
        <a th:href="@{/reviews}"><strong>Alla utvärderingar</strong></a>
    </nav>


<br>

</body>
</html>
